

.list {

  box-shadow: 6px 6px 14px #FAB0BE;
  border-radius: 8px;


  a {
    color: #55ae95;
    &:hover {
      color: #326b5b;
    }
  }

  li:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  li:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  li {
    color: #3f4d71;
    font-size: 12px;
  }

  .dose {
    width: 110px;
  }

  .trash {
    width: 15px;
  }
  .ingredient {
    width: 100%;
  }

  .fa-star {
    color: #f9d509;
  }

}


