// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #ffe5ea;
}

h1, h2 {
  font-family: 'Monoton', cursive;
  color: #3f4d71;
  letter-spacing: 3px;
  text-shadow: 4px 4px 7px #6481c9;
  margin: 5px 0px;
}

h3, h4, h5, h6, a {
  font-family: 'Lobster', cursive;
  letter-spacing: 1px;
}

// .dose {
//   width: 110px;
// }

// .trash {
//   width: 15px;
// }
// .ingredient {
//   width: 100%;
// }

.row {
  padding: 10px 0px;
}

.cocktail-img-show {
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 6px 6px 14px #FAB0BE;

  img {
    border-radius: 8px;
    width: 100%;
  }
}

.text {
  color: #3f4d71;
  font-size: 14px
}
